{% extends "base.html" %} {% block content %} {% if request.user.is_authenticated %}

<script>
    let actualChatId = '{{ chatId }}';//this varuable saves the chat id of the actual chat 

    /*
    This function is to send a message 
    */
    async function sendMessage() {
        let textfield = messageField.value;
        if(textfield.length >= 1){
        document.getElementById('p2').classList.remove('d-none');
        let fd = new FormData();
        let token = '{{ csrf_token }}';
        let fetchUrl = "/chat/"+actualChatId+"/"
        let textfield =  messageField.value
    
        fd.append('textmessage', messageField.value);
        fd.append('csrfmiddlewaretoken', token);
    
        try {
        messagecontainer.innerHTML += `
        <div id="deleteMessage">
            <div id="loggedInUserMessage">
                <div id="card">
                    <div style="height: 30px; display: flex; justify-content: flex-start;">
                        <p style="font-size: 25px; height: 30px;">{{ request.user.username }}</p>
                    </div>
                    <div>
                        ${textfield}
                    </div>
                    <div id="createdAt">
                        <span>{{created}}</span>
                    </div>
              </div>
            </div>
        
        </div>`;
    
            let response = await fetch(fetchUrl, {
                method: 'POST',
                body: fd
            });
            let json = await response.json();
            let jsonObject = JSON.parse(json);
            document.getElementById('deleteMessage').remove();
    
            messagecontainer.innerHTML += `
            <div>
                <div id="loggedInUserMessage">
                    <div id="card" style="background-color: #E3F2FD">
                        <div style="height: 30px; display: flex; justify-content: flex-start;">
                            <p style="font-size: 25px; height: 30px;">{{ request.user.username }}</p>
                        </div>
                        <div>
                            ${textfield}
                        </div>
                        <div id="createdAt">
                            <span>today</span>
                        </div>
                  </div>
                </div>
            
            </div>`;
            document.getElementById('p2').classList.add('d-none');
            messageField.value ='';
           
        } catch (e) {
            console.error('An error occured', e);
        }
        scrollDown();
    }
    }

     /*
    This function returns the user to the index.html
    */
    function renderAllChats(){
        window.location.replace("/");
    }
    
</script>
<div id="information-bar" >
    <div style="width: 100%; display: flex; justify-content: space-between; align-items: center; height: 40px">
        <button style="margin-left: 16px" onclick="renderAllChats()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            <i class="material-icons">chat</i>
    </button> 
    <h5>{{ recieverUser }}<h5/>
    </div>
    <div style="z-index: 4" id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate d-none"></div>
</div>

<div id="workspace">
    <div id="messagecontainer">
    
        {% for message in messages %}
        {% if request.user == message.author %}

        <div id="loggedInUserMessage">
            <div id="card" style="background-color: #E3F2FD">
                <div style="height: 30px; display: flex; justify-content: flex-start;">
                    <p style="font-size: 25px; height: 30px;">{{ message.author }}</p>
                </div>
                <div>
                    {{ message.text }}
                </div>
                <div id="createdAt">
                    <span>{{message.created_at}}</span>
                </div>
          </div>
        </div>
          {% else %}
          <div id="notloggedInUserMessage">
            <div id="card" style="background-color: #FCE4EC">
                <div style="height: 30px; display: flex; justify-content: flex-start;">
                    <p style="font-size: 25px; height: 30px;">{{ message.author }}</p>
                </div>
                <div>
                    {{ message.text }}
                </div>
                <div id="createdAt">
                    <span>{{message.created_at}}</span>
                </div>
            </div>
        </div>
          {% endif %}
        {% endfor %}
    </div>
        <div id="sendArea">
            <form onsubmit="sendMessage(); return false;" method="post">
                {% csrf_token %}
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" name="textmessage" type="text" id="messageField">
                    <label class="mdl-textfield__label" for="messageField">Text...</label>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                                Send
                </button>         
            </form>
        </div>
</div>   
<script>
     /*
    This function scrolls the chat down to the message that is sended right now
    */
    function scrollDown(){
        let objDiv = document.getElementById("messagecontainer");
        objDiv.scrollTop = objDiv.scrollHeight; 
    }
</script>
{% endif %} {% endblock %}