{% extends "base.html" %} {% block content %} {% if request.user.is_authenticated %}

<script>
    async function sendMessage() {
        let fd = new FormData();
        let token = '{{ csrf_token }}';

        fd.append('textmessage', messageField.value);
        fd.append('csrfmiddlewaretoken', token);
        try {
            messageContainer.innerHTML += `
                <div id="deleteMessage">
                    <span class="color-gray">[DATUM]</span> {{ request.user.first_name }}: <i class="color-gray">${messageField.value} </i>
                </div>`;
            let response = await fetch('/', {
                method: 'POST',
                body: fd
            });
            let json = await response.json();
            console.log('json is', json);
            document.getElementById('deleteMessage').remove();
            messageContainer.innerHTML += `
                <div">
                    <span class="color-gray">[DATUM]</span> {{ request.user.first_name }}: <i>${messageField.value} </i>
                </div>`;

            console.log('Success!!');

        } catch (e) {
            console.error('An error occured', e);
        }

    }

    async function testFunction(userId){
        let fd = new FormData();
        let token = '{{ csrf_token }}';

        fd.append('test', "gehts?");
        fd.append('csrfmiddlewaretoken', token);
        console.log("ich wurde geklickt mit folgender User id: ", userId)
        let response = await fetch('/test/', {
                method: 'POST',
                body: fd
        });

        let json = await response.json();
        console.log("hier ich worke", json)
    }


</script>
<div id="information-bar">
    <button id="show-dialog" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        <i class="material-icons">chat</i>
       </button> 

</div>

<div id="messageContainer">
    {% for message in messages %}


    <div id="card">
        <div style="height: 30px; display: flex; justify-content: flex-start;">
            <p style="font-size: 25px; height: 30px;">{{ message.author }}</p>
        </div>
        <div>
            {{ message.text }}
        </div>
        <div id="createdAt">
            <span>{{message.created_at}}</span>
        </div>
      </div>
    {% endfor %}
    <div id="sendArea">

        <form onsubmit="sendMessage(); return false;" method="post">
            {% csrf_token %}
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input type="hidden" name="redirect" value="{{ redirect }}"/>
                <input class="mdl-textfield__input" name="textmessage" type="text" id="messageField">
                <label class="mdl-textfield__label" for="messageField">Text...</label>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                <i class="material-icons">send</i>
            </button>
        
        </form>

    </div>
 
        


</div>

        
            <dialog class="mdl-dialog" style="width: 60vw; height: 80vh">
              <h4 class="mdl-dialog__title">Select your new Chatpartner</h4>
              <div class="mdl-dialog__content" style="width: 90%; height: 80%">
                <div id="users-container">

                    {% for user in users %}
                    <div id="userelement-card"  onclick="testFunction({% user.ID %})">
                        <span style="width: 40%;">
                            {{user.username }}
                        </span>
                        <span style="width: 40%;">
                            {{user.email }}
                        </span>
                    </div>
                    {% endfor %}

                </div>
          
              </div>
              <div class="mdl-dialog__actions">
                <button type="button" class="mdl-button">Agree</button>
                <button type="button" class="mdl-button close">Close</button>
              </div>
            </dialog>
            <script>
              let dialog = document.querySelector('dialog');
              let showDialogButton = document.querySelector('#show-dialog');
              showDialogButton.addEventListener('click', function() {
                dialog.showModal();
              });
              dialog.querySelector('.close').addEventListener('click', function() {
                dialog.close();
              });
            </script>

{% else %}
<h1>Nicht eingeloggt</h1>
<p>
    Du bist aktuell nicht eingeloggt. Bitte logge dich ein.<br> Bitte klicke <a href="/login/">hier</a>.
</p>

{% endif %} {% endblock %}