{% extends "base.html" %} {% block content %} {% if request.user.is_authenticated %}


<script>
    let chatIdGlobal = null;


    async function addChatFunction(userId){
        let fd = new FormData();
        let token = '{{ csrf_token }}';

        fd.append('userId', userId);
        fd.append('csrfmiddlewaretoken', token);
        try {
        let response = await fetch('/add_chat/', {
                method: 'POST',
                body: fd
        });

        let json = await response.json();
        console.log("hier ich worke", json)
    } catch (e) {
        console.error('An error occured', e);
    }
    }

    async function openChatFunction(chatId){
      
       
        let fd = new FormData();
        let token = '{{ csrf_token }}';

        fd.append('chatId', chatId);
        fd.append('csrfmiddlewaretoken', token);
        try {
            let response = await fetch('/chat/', {
                    method: 'POST',
                    body: fd
        });
            console.log('Success!!');

            window.location.replace("/chat/");

    } catch (e) {
        console.error('An error occured', e);
    }
    }



    function doSomething(){
        console.log("do something")
    }

</script>
<div id="information-bar">

    <div style="padding-left: 16px">
        <button onclick="renderAllChats()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            <i class="material-icons">chat</i>
           </button> 

    </div>
    <div style="padding-right: 16px">
        <button id="show-dialog" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            <i class="material-icons">add</i>
           </button> 

    </div>

    <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate d-none"></div>
</div>


<div id="chatContainer">

    {% for chat in chats %}
        <div id="chatelement-card"  onclick="openChatFunction({{ chat.id }})">
        

            {% if request.user.id != chat.participant1.id %}

                <div style="display: flex; justify-content: space-between; align-Items: center; width: 80%">{{ chat.participant1.username }} <i class="material-icons">person</i></div>
            {% else %}
           
            <div style="display: flex; justify-content: space-between; align-Items: center; width: 80%">{{ chat.participant2.username }} <i class="material-icons">person</i></div>
            {% endif %}
        </div>
        {% endfor %}    
</div>   


</div>
            <dialog class="mdl-dialog" style="width: 60vw; height: 80vh">
              <h4 class="mdl-dialog__title">Select your new Chatpartner</h4>
              <div class="mdl-dialog__content" style="width: 90%; height: 80%">
                <div id="users-container">

                    {% for user in users %}
                    <div id="userelement-card"  onclick="addChatFunction({{ user.id }})">
                        <span style="width: 40%;">
                            {{user.username }}
                        </span>
                        <span style="width: 40%;">
                            {{user.email }}
                        </span>
                    </div>
                    {% endfor %}

                </div>
          
              </div>
              <div class="mdl-dialog__actions">
                <button type="button" class="mdl-button">Agree</button>
                <button type="button" class="mdl-button close">Close</button>
              </div>
            </dialog>
            <script>
              let dialog = document.querySelector('dialog');
              let showDialogButton = document.querySelector('#show-dialog');
              showDialogButton.addEventListener('click', function() {
                dialog.showModal();
              });
              dialog.querySelector('.close').addEventListener('click', function() {
                dialog.close();
              });
            </script>

{% else %}
<h1>Nicht eingeloggt</h1>
<p>
    Du bist aktuell nicht eingeloggt. Bitte logge dich ein.<br> Bitte klicke <a href="/login/">hier</a>.
</p>

{% endif %} {% endblock %}

<script>


    
</script>